body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #302f2f; /* Primario */
  color: #ffffff; /* Texto */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #383838; 
  position: fixed;
  width: 100%;
  z-index: 1000;
}

ul > li {
  margin: 10px;
}

ul > li > a {
  text-decoration: none;
  color: #daa520; 
  font-size: 20px;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s;
}

ul > li > a:hover {
  color: #383838; 
  background-color: #daa520;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); 
}

#bar {
  background-color: #daa520; 
  height: 10px;
  width: 0%;
  transition: 0.5s;
  margin-bottom: 5em;
  position: fixed;
  top: 41px;
  z-index: 1000;
}

#perfil {
  display: flex;
  justify-content: center;
  background-color: #383838; 
  padding: 2em;
  border-bottom: 1px solid #b3b3b3; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  position: relative;
  top: 100px;
  margin-bottom: 190px;
}

#perfil > img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin-right: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

#perfil > div > h1 {
  font-size: 40px;
  color: #ffffff; /* Texto */
  margin-bottom: 10px;
}

#perfil > div > p {
  font-size: 20px;
  color: #b3b3b3; 
}

#redes {
  display: flex;
  justify-content: center;
}

#redes > a {
  margin: 10px;
  text-decoration: none;
  color: #daa520; 
  font-size: 20px;
  border: 1px solid #daa520; 
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); 
}


.proyecto {
  display: flex;
  flex-direction: row;
  border: 1px solid #b3b3b3; 
  height: 15em;
  width: 70%;
  padding: 2em;
  border-radius: 10px;
  margin: 1em;
  flex-wrap: wrap;
  background-color: #383838; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.proyecto > img {
  width: 15em;
  height: 15em;
  border-radius: 10px;
  margin-right: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  object-fit: cover;
}

.proyecto > div > h2 {
  font-size: 30px;
  color: #ffffff; /* Texto */
  margin-bottom: 10px;
}

.proyecto > div > p {
  font-size: 20px;
  color: #b3b3b3; 
}

.proyecto > div > a {
  text-decoration: none;
  color: #daa520; 
  font-size: 20px;
  padding: 10px;
  border: 1px solid #daa520; 
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); 
}

#tecnologias {
  padding: 1em;
  margin-top: 2em;
}

.fila {
  display: flex;
  justify-content: center;
}

.fila > div {
  margin: 1em;
  border: 1px solid #b3b3b3; 
  border-radius: 10px;
  background-color: #383838; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.fila > div > img {
  width: 8em;
  height: 8em;
  margin: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  object-fit: cover;
}

#educacion {
  padding: 2em;
  margin-top: 2em;
}

#educacion > div {
  margin: 1em;
  border: 1px solid #b3b3b3; 
  border-radius: 10px;
  display: flex;
  margin-top: 1.5em;
  padding: 1.5em;
  background-color: #383838; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

#educacion > div > img {
  width: 15em;
  height: 15em;
  border-radius: 10px;
  margin-right: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  object-fit: cover; 
}

#educacion > div > div > h2 {
  font-size: 30px;
  color: #ffffff; /* Texto */
  margin-bottom: 10px;
}

#educacion > div > div > p {
  font-size: 20px;
  color: #b3b3b3; 
}

#educacion > div > div > a {
  text-decoration: none;
  color: #daa520; 
  font-size: 20px;
  padding: 10px;
  border: 1px solid #daa520; 
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); 
}

#sobre-mi {
  padding: 2em;
  margin-top: 2em;
  border-radius: 10px;
}

#sobre-mi > h1 {
  font-size: 40px;
  color: #ffffff; 
  margin-bottom: 10px;
}

#sobre-mi > div {
  background-color: #383838; 
  border: 1px solid #b3b3b3; 
  width: 70%;
  border-radius: 10px;
  height: 30em;
  margin: auto;
  padding: 4em;
  margin-bottom: 3em;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

#sobre-mi > div > img {
  width: 20em;
  height: 20em;
  margin-left: 2em;
  border: 5px solid #daa520; 
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); 
  object-fit: cover;
}

#texto > p {
  font-size: 20px;
  color: #e9e9e9; 
  margin: 1em;
}

.tecnologiasProyecto {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.tecnologiasProyecto > div {
  margin: 1em;
  border: 1px solid #b3b3b3; 
  border-radius: 10px;
  height: 1em;
  padding: 0.5em;
  background-color: #383838; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

#redes > a > img,
.proyecto > div > a > img,
#instituto > div > a > img, .certificado > div > a > img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  position: relative;
  top: 4px;
}


h1 > img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #ffffff;
  border-radius: 25%;
  padding: 1px;
}


.certificado {
  display: flex;
  flex-direction: row;
  border: 1px solid #b3b3b3; 
  height: 15em;
  width: 70%;
  padding: 2em;
  border-radius: 10px;
  margin: 1em;
  flex-wrap: wrap;
  background-color: #383838; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.certificado > img {
  width: 15em;
  height: 15em;
  border-radius: 10px;
  margin-right: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  object-fit: cover;
}

.certificado > div > h2 {
  font-size: 30px;
  color: #ffffff; /* Texto */
  margin-bottom: 10px;
}

.certificado > div > p {
  font-size: 20px;
  color: #b3b3b3; 
}

.certificado > div > a {
  text-decoration: none;
  color: #020202; 
  font-size: 20px;
  padding: 10px;
  border: 1px solid #daa520; 
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); 
}


#redes > a:hover,
.proyecto > div > a:hover,
#educacion > div > div > a:hover {
  color: #383838; 
  background-color: #daa520;
  transition: color 0.3s, background-color 0.3s;
}






