body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #302f2f; /* Primario */
    color: #FFFFFF; /* Texto */
}

#encabezado > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #383838; /* Secundario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

#encabezado > ul > li {
    margin: 10px;
}

#encabezado > ul > li > a {
    text-decoration: none;
    color: #DAA520; /* Acento */
    font-size: 20px;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
}

#encabezado > ul > li > a:hover {
    color: #383838; /* Secundario */
    background-color: #DAA520; /* Acento */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); /* Sombra */
}

#bar {
    background-color: #DAA520; /* Acento */
    height: 5px;
    width: 0%;
    transition: 0.5s;
    margin-bottom: 5em;
}

#perfil {
    display: flex;
    justify-content: center;
    background-color: #383838; /* Secundario */
    padding: 2em;
    border-bottom: 1px solid #B3B3B3; /* Destacado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

#perfil > img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin-right: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

#perfil > div > h1 {
    font-size: 40px;
    color: #FFFFFF; /* Texto */
    margin-bottom: 10px;
}

#perfil > div > p {
    font-size: 20px;
    color: #B3B3B3; /* Destacado */
}

#redes {
    display: flex;
    justify-content: center;
}

#redes > a {
    margin: 10px;
    text-decoration: none;
    color: #DAA520; /* Acento */
    font-size: 20px;
    border: 1px solid #DAA520; /* Acento */
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); /* Sombra */
}

.proyecto {
    display: flex;
    flex-direction: row;
    border: 1px solid #B3B3B3; /* Destacado */
    height: 15em;
    width: 70%;
    padding: 2em;
    border-radius: 10px;
    margin: 1em;
    flex-wrap: wrap;
    background-color: #383838; /* Secundario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

.proyecto > img {
    width: 15em;
    height: 15em;
    border-radius: 10px;
    margin-right: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

.proyecto > div > h2 {
    font-size: 30px;
    color: #FFFFFF; /* Texto */
    margin-bottom: 10px;
}

.proyecto > div > p {
    font-size: 20px;
    color: #B3B3B3; /* Destacado */
}

.proyecto > div > a {
    text-decoration: none;
    color: #DAA520; /* Acento */
    font-size: 20px;
    padding: 10px;
    border: 1px solid #DAA520; /* Acento */
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); /* Sombra */
}

#tecnologias {
    padding: 1em;
    margin-top: 2em;
}

.fila {
    display: flex;
    justify-content: center;
}

.fila > div {
    margin: 1em;
    border: 1px solid #B3B3B3; /* Destacado */
    border-radius: 10px;
    background-color: #383838; /* Secundario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

.fila > div > img {
    width: 13em;
    height: 13em;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    object-fit: cover;
}

#educacion {
    padding: 2em;
    margin-top: 2em;
}

#educacion > div {
    margin: 1em;
    border: 1px solid #B3B3B3; /* Destacado */
    border-radius: 10px;
    display: flex;
    margin-top: 1.5em;
    padding: 1.5em;
    background-color: #383838; /* Secundario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

#educacion > div > img {
    width: 15em;
    height: 15em;
    border-radius: 10px;
    margin-right: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

#educacion > div > div > h2 {
    font-size: 30px;
    color: #FFFFFF; /* Texto */
    margin-bottom: 10px;
}

#educacion > div > div > p {
    font-size: 20px;
    color: #B3B3B3; /* Destacado */
}

#educacion > div > div > a {
    text-decoration: none;
    color: #DAA520; /* Acento */
    font-size: 20px;
    padding: 10px;
    border: 1px solid #DAA520; /* Acento */
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); /* Sombra */
}

#sobre-mi {
    padding: 2em;
    margin-top: 2em;
    border-radius: 10px;
}

#sobre-mi > h1 {
    font-size: 40px;
    color: #FFFFFF; /* Texto */
    margin-bottom: 10px;
}

#sobre-mi > div {
    background-color: #383838; /* Secundario */
    border: 1px solid #B3B3B3; /* Destacado */
    width: 70%;
    border-radius: 10px;
    height: 30em;
    margin: auto;
    padding: 4em;
    margin-bottom: 3em;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

#sobre-mi > div > img {
    width: 20em;
    height: 20em;
    margin-left: 2em;
    border: 5px solid #DAA520; /* Acento */
    flex-shrink: 0;
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.5); /* Sombra */
}

#texto > p{
    font-size: 20px;
    color: #e9e9e9; /* Destacado */
    margin: 1em;
}

.tecnologiasProyecto {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.tecnologiasProyecto > div {
    margin: 1em;
    border: 1px solid #B3B3B3; /* Destacado */
    border-radius: 10px;
    height: 1em;
    padding: 0.5em;
    background-color: #383838; /* Secundario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

#redes > a > img, .proyecto > div > a > img,#instituto > div > a > img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

